{:paths ["src" "classes"]
 :aliases {:build {:extra-paths ["build"]
                   :jvm-opts ["-Dclojure.spec.skip-macros=true"]
                   :extra-deps {org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}}}
           :compile {:main-opts ["-m" "compile"]}
           :depstar {:extra-deps {seancorfield/depstar {:mvn/version "0.2.1"}}
                     :main-opts ["-m" "hf.depstar.jar"]}
           :deploy {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy"]}}
 :deps {}}
